.container {
    display: flex;
}

.btn {
    padding: 15px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid teal;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.btn * {
    text-decoration: none;
}